<div class="slider">
    <ul>
        <li><img src="assets/Images/PO5.png" style="max-height:545px;" /></li>
        <li><img src="assets/Images/PO4.jpg" style="max-height:545px;" /></li>
        <li><img src="assets/Images/PO1.png" style="max-height:545px;" /></li>
        <li><img src="assets/Images/PO2.png" style="max-height:545px;" /></li>
    </ul>
</div>
<br>

<div class="contenido">
    <div class="text-center">
        
        <h2 style="color: #5A5858;"><strong>Nuestros Servicios</strong></h2>
    </div>
    <div class=" caja">
        <div class="e">
            <h4><strong>Servicios de Estética Canina</strong></h4>
            <img src="assets/Images/NuestrosServicios.png" />
            <p class=" text-md-center">El Mejor Servicio Para Tus Mascotas Con Estilistas y Productos Profesionales Demostrando Un Verdadero Trabajo Para Nuestros Clientes</p>
        </div>
        <div class="e">
            <h4><strong>Profesionales en los que puede confiar</strong></h4>
            <img src="assets/Images/QuienesSomos.png" />
            <p class=" text-md-center">En Pet Groomer tenemos la experiencia y los conocimientos necesarios para realizar de forma única y especializada el servicio de peluquería para perros y gatos, considerando las características y las necesidades especiales de cada mascota.</p>
        </div>
        <div class="e">
            <h4><strong>Tienda Física</strong></h4>
            <img src="assets/Images/TiendaFisica.png" />
            <p class=" text-md-center">En nuestra tienda encontrarás una cuidada selección de alimentación premium para perros y gatos. Esta selección se completa con productos para la higiene, antiparásitos, ropa, juguetes y todo tipo de accesorios.</p>

        </div>
    </div>
    <div class="contactos">
            <h2 class="text-center"><strong>Instalaciones</strong></h2>
            <p class="text-md-center">
                Hay muchas estéticas caninas en La Paz, ninguno como Pet Grooomer Great Elegant, ya que es un lugar de respeto, tranquilidad, higiene, belleza y diseño de imagen que se nota totalmente en el resultado a un precio justo, pero lo más importante es la responsabilidad que tenemos con nuestros perros
            </p>
        <img src="assets/Images/Collage -I.png"/>


</div>

