<head>
    <style>
        iframe{
    margin: 0 auto;
    height: 350px;
    width: 85%; 
    margin-top: 2rem;
}
    </style>
</head>
<body>
    <h1 class=" text-center" style="color:#5A5858;"><strong>Contacto</strong></h1><br />
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.3920516725874!2d-68.1300193707617!3d-16.49738761339347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDI5JzUwLjYiUyA2OMKwMDcnNDYuMSJX!5e0!3m2!1ses-419!2sbo!4v1635991321126!5m2!1ses-419!2sbo" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div style="margin-left:1.5rem;"><br />
        <p class="text-justify"  style="font-size: 17px; color: #5A5858;">
            📍 Dirección: Yungas Esquina Saavedra # 555 <br />
            📱 Teléfonos: 75273337/69849994<br />
            ⏱️ Horarios de atención: <br />
            Lunes a Viernes: 8:30 - 18:00<br />
            Sábados: 9:00 - 18:00<br />
            Domingos: 9.:00 - 16:00<br />
        </p>
    </div>
</body>