<div class="container">
    <button class="btn btn-lg btn-primary" routerLink="/menuGerente">Volver</button>
        <br>
    <h1>Bienvenido <span style="color: rgb(19, 124, 150);">{{nombreUsuario}}</span></h1>
    <br>
    <h1>Buscar Historial</h1>
    <br>
    <div class="mb-3 row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="idHis" name="idHis">
        </div>
        <br><br>
        <div class="col-sm-10">
            <button class="btn btn-lg btn-primary" style="max-width: 300px;" (click)="buscarReserva()">Buscar</button>
        </div> 
   
              
    </div> 
    <br>
    <div class="col-lg-6">
        <form>
            <h3><span><b>Nombre Usuario:</b></span> {{reservaLista.nombreUsuario}}</h3><br>
            <h3><span><b>Servicio:</b></span> {{reservaLista.nombre}}</h3><br>
            <h3><span><b>Fecha:</b></span> {{reservaLista.fecha}}</h3><br>
            <h3><span><b>Historial:</b></span> {{reservaLista.descripcion}}</h3><br>

            <br>
             
       
        </form>
    </div>
</div>