.nav-item {
    cursor: pointer;
    -webkit-transition: -webkit-transform 1s ease 1s;
}
.nav-item:hover {
    background-color: #D1E2F6;
    -webkit-transform: scale(1.1);
}
.nav-item a:hover {
    background-color: white;
}