<h1 class=" text-center" style="color:#5A5858;"><strong>Servicios Detallados</strong></h1>
<div class="CG">
    <div>

        <h1 style="color:#38B4E7;"><strong>BAÑO</strong></h1><br />
        <p class="text-justify">Con agua tibia, masaje durante el baño con aceite de lavanda, shampoo hipoalergénico y aceite de melaleuca 100% natural, el cual funciona como antipulgas y previene infecciones en la piel, utilizamos una mezcla patentada de aceites esenciales extremadamente potentes a base de hierbas (limón, eucalipto y citronella) todas ellas funcionando como un excelente repelente natural, es seguro de usar y huele muy bien.</p>
    </div>
    <div>
        <img src="assets/Images/BANOSERVICIO.png" />
    </div>
</div>
<br />
<div class="CL">
    <h1 style="color:#38B4E7;"><strong>LIMPIEZA</strong></h1><br />
    <p class="text-justify">
        <img src="assets/Images/LIMPIEZACEPILLADO.PNG" />CEPILLADO DE DIENTES: La limpieza dental mejora un 100% la calidad de vida de su mascota y previene la caída de dientes, mal aliento, gingivitis, dolor e inflamación de las encías.<br />
    </p>
    <p class="text-justify">
        <img src="assets/Images/LIMPEZAOIDOS.PNG" />LIMPIEZA DE OÍDOS:Ayuda al equilibrio, evita dolores de cabeza y estimula el que escuchen bien. <br />
    </p>
    <p class="text-justify">
        <img src="assets/Images/LIMPIEZA LAGRIMALES.PNG" />LIMPIEZA DE LAGRIMALES: Evita infecciones. <br />
    </p>
    <p class="text-justify">
        <img src="assets/Images/LIMPIEZACORTE.PNG" />CORTE DE UÑAS:Se cortan y se liman evitando que se acumule suciedad y que no haya rasguños
        al jugar con nuestras mascotas.<br />
    </p>
</div>
<br />
<div class="CG">
    <div>
        <img src="assets/Images//CORTESSERVICIO.png" />
    </div>
    <div>
        <h1 style="color:#38B4E7;"><strong>CORTES</strong></h1><br />
        <p class="text-justify">
            Queremos que se sientan cómodos y cuidados para que presumas de su belleza. Para ayudarte a conseguirlo, ponemos a tu disposición un Servicio Profesional de Peluquería canina y felina:<br />
            - RASURADO: Ideal para la época de calor, nuestra mascota se sentirá más libre.<br />
            - CORTE ESTÉTICO: Corte de acuerdo a la raza.<br />
        </p>
    </div>
</div>

