<div class="container">
    <button class="btn btn-lg btn-primary" routerLink="/menuGerente">Volver</button>
    <br>
    <h1>Lista de Clientes</h1>   
    <br>  
    <table class="table">
        <thead>
          <tr style="color: blue;">
            <th scope="col">Nombre Empleado</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of clientesLista">
            <td>{{emp.nombreUsuario}}</td>
            <td>{{emp.telefono}}</td>
            <td>{{emp.correo}}</td>
            <td>{{emp.estado}}</td>
            <td><button class="btn btn-lg btn-primary" (click)="eliminar(emp.idUsuario);">Desactivar Estado</button></td>
          </tr>
        </tbody>
    </table>
</div>