<div class="container">
  <h1>Bienvenido <span style="color: blue;">{{nombreUsuario}}</span></h1>
  <br>
  <button class="btn btn-lg btn-primary" style="display:flex;" routerLink="/menuModificarProductos">Listar Productos - Modificar Productos</button>
  <br>
  <button class="btn btn-lg btn-primary" style="display:flex;" routerLink="/menuListaEmpleados">Listar Empleados - Modificar Empleados</button>
  <br>
  <button class="btn btn-lg btn-primary" style="display:flex;" routerLink="/menuGerenteReservas">Listar Reservas - Modificar Reservas</button>
  <br>
  <button class="btn btn-lg btn-primary" style="display:flex;" routerLink="/menuListaServiciosRealizados">Listar Servicios Realizados</button>
  <br>
</div>