<div class="container">
    <button class="btn btn-lg btn-primary" routerLink="/menuGerente">Volver</button>
    <br>
    <h1>Bienvenido <span style="color: blue;">{{nombreUsuario}}</span></h1>
    <h1>Lista de Todas las Reservas</h1>
    <br> 
    <table class="table">
        <thead>
          <tr style="color: blue;">
            <th scope="col">Nombre Dueño</th>
            <th scope="col">Nombre Mascota</th>
            <th scope="col">Servicio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserv of reservaLista">
            <th>{{reserv.nombreUsuario}}</th>
            <td>{{reserv.nombreMascota}}</td>
            <td>{{reserv.nombre}}</td>
            <td>{{reserv.fecha}}</td>
            <td>{{reserv.hora}}</td>
            <td><button class="btn btn-lg btn-primary" (click)="modificar(reserv.idReserva);">Modificar</button></td>
            <td><button class="btn btn-lg btn-primary" (click)="eliminar(reserv.idReserva);">Eliminar</button></td>
          </tr>
        </tbody>
    </table>
</div>