<div class="footer border-top text-muted">
    <div class="container">
        <div class="piedepagina">
            <div class="info">
                <p>
                    <strong>MUCHAS GRACIAS POR VISITARNOS</strong><br />
                    Visite nuestras páginas. Para preguntas escríbenos o danos una llamada.<br />
                    Telf: Recepción: 75273337/69849994
                </p>
                <a href="https://drive.google.com/file/d/18kGQaVCw4KxQ-I1uEoBJPPEDZ9r4lwZe/view?usp=sharing" style="margin-right:10rem;"> <button class="btn btn-lg btn-primary"   style="margin-right:10rem;">Ver Manual De Usuario </button></a>


            </div>
            
            <div class="redes">
                <strong> SÍGUENOS</strong>
                <br />
                <a href="https://www.facebook.com/Pet-Groomer-Great-Elegant-108108477595305/?ref=page_internal" target="_blank"><img src="assets/Images/IconoFacebook.png" height="50px" width="50px" /></a>
                <a href="https://www.instagram.com/great_elegant_lp" target="_blank"><img src="assets/Images/IconoInstagram.png" height="50px" width="50px" /></a>
                <a href="https://vm.tiktok.com/ZMRKYFJ4r/" target="_blank"><img src="assets/Images/IconoTikTok .png" height="50px" width="50px" /></a>
                <a href="https://api.whatsapp.com/send?phone=59175273337&app=facebook&entry_point=page_cta&fbclid=IwAR3b6YLrTmgHxOCa0w14mbgmVwRPFZZTz6t6fS9_kXv3jNziXwBIB5l56-w" target="_blank"><img src="assets/Images/IconoWhatsapp.png" height="50px" width="50px" /></a>
            </div>
        </div>
        <p class="text-center">
            &copy; 2021 - EsteticaCaninaProyecto - <a style="color: blue;">Privacy</a>
        </p>
    </div>
</div>